<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>维修记录查询</title>
    {% block yyc_foundation_stylesheets %}
        <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">
    {% endblock %}
    
</head>
<body>
    {% block yyc_foundation_body %}{% endblock %}
    {% block yyc_foundation_javascripts %}{% endblock %}
</body>
</html>