<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock %}</title>
    {# <link href="{{ asset('bootstrap/css/bootstrap.min.css',null,true)}}" rel="stylesheet"> #}
    <link href="{{ asset('report/css/appraisal-report.css',null,true) }}" rel="stylesheet">
    <link href="{{ asset('report/css/appraisal-report-responsive.css',null,true) }}" rel="stylesheet">
    {% block stylesheets %}
        <style>
            * {
                overflow: visible !important;
            }
        </style>

    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}

    <script src="{{ app.request.getSchemeAndHttpHost() ~ asset('bootstrap/js/jquery.min.js')}}"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>
