<div class="appraisal-report-footer">
    <div class="appraisal-report-content-wrap">
        <img src="{{ app.request.getSchemeAndHttpHost() }}{{ asset('images/logo-white.png') }}" />
    </div>
</div>
